
/*
Font Weight Ref:

100 Thin (Hairline)
200 Extra Light (Ultra Light)
300 Light
400 Normal
500 Medium
600 Semi Bold (Demi Bold)
700 Bold
800 Extra Bold (Ultra Bold)
900 Black (Heavy)
*/

$font-size-mobile: 14px;
$font-size: 18px;

$line-height: 1.6em;
$heading-line-height: 1.4em;


$font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Open Sans', sans-serif;

$h1-size-mobile: 28px; // .alpha
$h2-size-mobile: 26px; // .beta
$h3-size-mobile: 24px; // .gamma
$h4-size-mobile: 22px; // .delta
$h5-size-mobile: 20px; // .epsilon
$h6-size-mobile: 18px; // .zeta

$h1-size: 28px; // .alpha
$h2-size: 26px; // .beta
$h3-size: 24px; // .gamma
$h4-size: 22px; // .delta
$h5-size: 20px; // .epsilon
$h6-size: 18px; // .zeta
